<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Поиск новостей
{% endblock title %}

{% block content %}
    <h1>Поиск новостей:</h1>
    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">
        {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
        {{ filterset.form.as_p }}
        {# Добавим кнопку отправки данных формы #}
        <input type="submit" value="Найти" />
    </form>

    <hr>
    <h1>Найденные новости</h1>
    <h2>Новостей на странице: {{ news|length }}</h2>
    {% if news %}
        {% for curr_new in news %}
            <hr>
            <h3>{{ curr_new.title|censor }}</h3>
            <h4><i>Автор: {{ curr_new.author.user.username }}</i></h4>
            <h5>{{ curr_new.creation_date|date:'d.m.Y' }}</h5>
            <h5>({{ curr_new.type_caption }})</h5>
            <p>{{ curr_new.text|truncatewords:20|censor }}</p>

        {% endfor %}
    {% else %}
        <h2>Нет новостей!</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href = "?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            {% if page_obj.previous_page_number > 2 %}
                ...
            {% endif %}
            <a href = "?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href = "?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            {% with prelast=page_obj.next_page_number|add:1 %}
                {% if paginator.num_pages > prelast %}
                    ...
                {% endif %}
            {% endwith %}
            <a href = "?{% url_replace page=paginator.num_pages %}">{{ paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}