<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Новости
{% endblock title %}

{% block content %}
    <h1>Новости</h1>
    <h2>Новостей на странице: {{ news|length }}</h2>
    {% if news %}
        {% for curr_new in news %}
            <hr>
            <h3>{{ curr_new.title|censor }}</h3>
            <h4><i>Автор: {{ curr_new.author.user.username }}</i></h4>
            <h5>{{ curr_new.creation_date|date:'d.m.Y' }}</h5>
            <h5>({{ curr_new.type_caption }})</h5>
            <p>{{ curr_new.text|truncatewords:20|censor }}</p>

            {% if type == 'NEW' %}
                {% if perms.news.change_post %}
                    <a href="{% url 'new_update' pk=curr_new.id %}">Изменить</a>
                {% endif %}
                {% if perms.news.delete_post %}
                    <a href="{% url 'new_delete' curr_new.id %}">Удалить</a>
                {% endif %}
            {% else %}
                {% if perms.news.change_post %}
                    <a href="{% url 'article_update' pk=curr_new.id %}">Изменить</a>
                {% endif %}
                {% if perms.news.delete_post %}
                    <a href="{% url 'article_delete' curr_new.id %}">Удалить</a>
                {% endif %}
            {% endif %}

        {% endfor %}

        {% if perms.news.add_post %}
            <hr>
            <a href="{% url 'new_create' %}">Добавить новость</a>
            <a href="{% url 'article_create' %}">Добавить статью</a>
            <hr>
        {% endif %}
    {% else %}
        <h2>Нет новостей!</h2>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href = "?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            {% if page_obj.previous_page_number > 2 %}
                ...
            {% endif %}
            <a href = "?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href = "?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            {% with prelast=page_obj.next_page_number|add:1 %}
                {% if paginator.num_pages > prelast %}
                    ...
                {% endif %}
            {% endwith %}
            <a href = "?{% url_replace page=paginator.num_pages %}">{{ paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}